.header {
  background-color: #F1F1F1;
 
  padding: 20px;
}

body {
	flex-direction: column;
	display: flex;
	background-image: url('https://user-images.githubusercontent.com/42610692/110224818-1c7ae900-7ef0-11eb-99b2-419cf6462c9b.jpg');

}
article {
	flex: 2;
	overflow-y: auto;

}
aside {
	flex: 1;
	overflow-y: auto;
}
main{
	display: flex;
	flex-direction: row;
	flex: auto;
}
h1 {
	color: blue;
}

.brands {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
}

.brands__item {
  background: #eee;
}

.brands__item img {
  display: block;
  /* Make sure max-width is added */
  max-width: 100%;
}




.footer {
  background-color: #F1F1F1;
 
  padding: 20px;
}
